<div id="hovercard">
  <a class='person_avatar'>
    <img class="avatar">
  </a>
  <h4>
    <a class="person"></a>
  </h4>
  <div class="handle"></div>
    <table border="0">
      <tr>
        <td>
          <div id="hovercard_dropdown_container"></div>
        </td>
        <td align= "right">
          <a class="mention">
            <span id="mention_button" class="profile-header-icon" title data-placement="bottom" data-toggle="modal data-target="showMentionModal" data-original-title="Mention" aria-describedby="tooltip906570">@</span>
          </a>
        </td>
        <td>
          <a class="message">
            <i id="message_button" class="entypo-mail profile-header-icon" title="{{t 'people.message'}}" data-placement="bottom" data-toggle="modal" data-target="showMessageModal"></i>
          </a>
        </td>
      </tr>
    </table>
  <div class="card-footer">
    <div class="footer-container">
      <div class="hashtags"></div>
    </div>
  </div>
</div>


